<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Welcome!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, nulla et condimentum suscipit, mi nisl mattis quam, sed faucibus est urna commodo turpis. Sed tortor metus, pharetra vitae dui id, pellentesque posuere quam. In hac habitasse platea dictumst. Etiam convallis, urna eget consequat posuere, orci diam aliquam felis, a scelerisque massa ante condimentum sem. Etiam sollicitudin feugiat magna, in condimentum sapien vestibulum quis. Aliquam sagittis, nunc a pretium porta, tellus velit convallis nisi, et finibus risus mi a lectus. In quis dui in arcu vehicula euismod nec eget dolor. Maecenas vel nisl nec dolor auctor ultricies semper ut nulla. Nam sed dui et est tempor scelerisque. Fusce laoreet faucibus lectus, non pellentesque ex accumsan maximus. Ut vestibulum molestie magna nec luctus. Cras ipsum eros, convallis sit amet semper ut, placerat luctus nisl.
        </p>
        </div>
    </div>
